.penalty-dialog-content {
    padding: 20px 15px;
}

main {
    max-height: 220px;
    overflow-y: scroll;
}

label {
    font-weight: 500;
    color: rgb(19, 18, 18);
}

hr {
    border: 1px solid #7b6d6d;
}

input,
select,
textarea {
    border-color: #999999;
}